{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:next/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:node/recommended",
    "plugin:import/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 14
  },
  "rules": {
    "strict": 0,
    "camelcase": "off",
    "prefer-const": "error",
    "curly": [
      "error",
      "all"
    ],
    "max-nested-callbacks": [
      "error",
      {
        "max": 4
      }
    ],
    "max-statements-per-line": [
      "error",
      {
        "max": 2
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "(_.*)"
      }
    ],
    "no-var": "error",
    "no-empty-function": "error",
    "no-inline-comments": "error",
    "no-lonely-if": "error",
    "no-new": "off",
    "no-return-assign": "off",
    "spaced-comment": "error",
    "yoda": "error",
    "no-useless-constructor": "off",
    "no-async-promise-executor": "off",
    "no-new-func": "off",
    "no-undef": "off",
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "node/file-extension-in-import": "off",
    "node/prefer-global/buffer": [
      "error",
      "always"
    ],
    "node/prefer-global/console": [
      "error",
      "always"
    ],
    "node/prefer-global/process": [
      "error",
      "always"
    ],
    "node/prefer-global/url-search-params": [
      "error",
      "always"
    ],
    "node/prefer-global/url": [
      "error",
      "always"
    ],
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "off",
    "node/no-unpublished-require": "off",
    "node/no-unpublished-import": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-path-concat": "off",
    "node/no-extraneous-import": "off",
    "node/no-missing-import": "off",
    "import/extensions": [
      "error",
      "ignorePackages"
    ],
    "promise/always-return": "off"
  }
}