* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(0, 0, 0) !important;
  background: #ffffff  !important;
}

a {
  color: inherit;
  text-decoration: none;
}
