.main {
    background-color: black;
    color: beige;
}

.chat-scroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 88vh;
}

.chat-scroll::-webkit-scrollbar {
    width: 1rem;
}

.main-row {
    padding-top: 0 !important;
    padding-right: 0 !important;
}

h1, h2, h3, h4, h5 {
    color: #ff3333;
}

.subtitle {
    color: #ffffff;
}


.btn-primary {
    background-color: #ff3333;
    border-color: #ff3333;
}

.btn-primary:hover {
    background-color: #a82323;
    border-color: #a82323;
}

.btn-primary:disabled {
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}

a {
    color: #ff3333;
    text-decoration: none;
}

a:hover {
    color: #a82323;
}

.chat-control-button:hover {
    width: 120%;
    height: 120%;

}

.main-chat-col {
    background-image: url("../public/swiss_alps_transparent.png");
    background-size: cover;
    background-color: #fafafa;
    border-radius: 0;
    margin-top: 0 !important;
    height: 100% !important;
}

.prompt-bg {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px !important;
}

.user-msg {
    background-color: #f1f1f1;
    color: #000000;
    border-radius: 15px;
}

.bot-msg {
    background-color: #dfdfdf !important;
    color: #000000;
    border-radius: 15px;
}

.chat-input {
    border: 1px solid #9e9e9e !important;
}

@media screen and (max-width: 980px) {
    .chat-scroll {
        height: 90vh;
    }
}

.blinking-cursor {
    -webkit-animation: 0.4s blink step-end infinite;
    -moz-animation: 0.4s blink step-end infinite;
    animation: 0.4s blink step-end infinite;
}

.loading > .spinner-grow {
    background-color: #000000;
    height: 0.5rem !important;
    width: 0.5rem !important;
}

.loading > .spinner-grow:nth-child(2) {
    animation-delay: 50ms;
}

.loading > .spinner-grow:nth-child(3) {
    animation-delay: 100ms;
}

#footer {
    opacity: 0.7;
    color: #8d8d8d;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    width: 25%;
    bottom: 0;
    position: absolute;
}