.main {
  background-color: black;
  color: beige;
}

.chat-scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 88vh;
}

.chat-scroll::-webkit-scrollbar {
  width: 1rem;
}

.main-chat-col {
  background-color: #fafafa;
  border-radius: 12px;
  height: 100% !important;
}

.prompt-bg {
  border: 1px solid rgb(194 194 194);
  border-radius: 20px !important;
}

.user-msg {
  background-color: #f1f1f1;
  color: #000000;
  border-radius: 15px;
}

.bot-msg {
  background-color: #dfdfdf !important;
  color: #000000;
  border-radius: 15px;
}

.chat-input {
  border: 1px solid #9e9e9e !important;
  position: relative;
}

@media screen and (max-width: 980px) {
  .chat-scroll {
    height: 90vh;
  }
}

.blinking-cursor {
  animation: 0.4s blink step-end infinite;
}

.loading > .spinner-grow {
  background-color: #000000;
  height: 0.5rem !important;
  width: 0.5rem !important;
}

.loading > .spinner-grow:nth-child(2) {
  animation-delay: 50ms;
}

.loading > .spinner-grow:nth-child(3) {
  animation-delay: 100ms;
}
