cartopy==0.21.1
chromadb==0.3.26
Flask==2.3.2
flask_cors==4.0.0
langchain==0.0.228
matplotlib==3.7.2
mayavi==4.8.1
networkx==3.1
numpy==1.24.3
pandas==2.0.2
pdfminer==20191125
Pillow
python-dotenv==1.0.0
Requests==2.31.0
scipy==1.11.1
seaborn==0.12.2
